.header-top{
    background-color: rgb(201, 195, 195);
    min-height: 150px;
}
.nav-section{
    background-color: white;
    min-height: 80px;
    margin: 10px;
}
.apply{
    background-color: rgb(228, 116, 116);
}
.images{
    width: 250px;
    height: 200px;
}
.pictures{
    width: 350px;
    height: 200px;
}